*{
    margin: 0;
    padding: 0 auto;
    box-sizing: border-box;
}
header .nav-bar{
    margin-bottom: 2rem;
}

main .box-prod-client{
    margin: 1rem;
}
main .box-prod-client .card-prod-client:hover{
    transform: scale(1.05);
}

